@page

@model BizGazeMeeting.Pages.meeting.IndexModel
@{
    ViewData["Title"] = "Meeting";
}


@section StyleSheets{
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" />
    <link href="~/lib/metronic/plugins/global/plugins.bundle.css" rel="stylesheet" type="text/css" />
    <link href="~/lib/metronic/css/style.bundle.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/lib/jquery-toast/jquery.toast.css" />
    <link rel="stylesheet" href="~/css/conf.css" />
    <link rel="stylesheet" href="~/css/log.css" />
}


<div id="content" style="height: 100%; " class="d-flex">
    <div class="subject">
        <div class="subject-info-container">
            <div class="subject-info">
                <span class="subject-text">Video Meeting</span>
                <span class="subject-timer">00:00:00</span>
            </div>
        </div>
    </div>
    <div id="video-grid" class="justify-content-center align-self-center"></div>
    <div class="sideToolbarContainer slideInExt invisible" id="sideToolbarContainer">
        <div class="chat-header">
            <div class="jitsi-icon chat-close-button">
                <svg height="22" width="22" viewBox="0 0 24 24">
                    <path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"></path>
                </svg>
            </div>
        </div>
        <div id="chatconversation">
        </div>

        <div id="file-sending">
        </div>

        <div id="chat-recipient" style="display:none;">
            <span data-nsfw-filter-status="swf">Private message to </span>
            <div>
                <div class="jitsi-icon "><svg height="22" width="22" viewBox="0 0 24 24"><path d="M17.016 15.609L13.407 12l3.609-3.609-1.406-1.406-3.609 3.609-3.609-3.609-1.406 1.406L10.595 12l-3.609 3.609 1.406 1.406 3.609-3.609 3.609 3.609zM12 2.016q4.125 0 7.055 2.93t2.93 7.055-2.93 7.055T12 21.986t-7.055-2.93-2.93-7.055 2.93-7.055T12 2.016z"></path></svg>
                </div>
            </div>
        </div>
        <div class="chat-input-container">
            <div id="chat-input">
                <div class="smiley-input">
                    <div id="smileysarea">
                        <div id="smileys">
                            <div class="smiley-button">
                                <div class="jitsi-icon" style="display:flex;">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 20 20">
                                        <path clip-rule="evenodd" d="M10 18.333a8.333 8.333 0 110-16.666 8.333 8.333 0 010 16.666zm0-1.666a6.667 6.667 0 100-13.334 6.667 6.667 0 000 13.334zM8.333 8.75a1.25 1.25 0 11-2.5 0 1.25 1.25 0 012.5 0zM12.917 10a1.25 1.25 0 100-2.5 1.25 1.25 0 000 2.5zM10 15c1.75 0 3.289-.898 4.182-2.259l-1.295-1.072A3.335 3.335 0 0110 13.333a3.344 3.344 0 01-2.876-1.666L5.83 12.741A5 5 0 0010 15z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="hide-smileys smileys-panel">
                        <div id="smileysContainer">
                            <div class="smileyContainer" id="smiley1">
                                <span class="smiley">
                                    <span>😃</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley2">
                                <span class="smiley">
                                    <span>😦</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley3">
                                <span class="smiley">
                                    <span>😄</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley4">
                                <span class="smiley">
                                    <span>👍</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley5">
                                <span class="smiley">
                                    <span>😛</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley6">
                                <span class="smiley">
                                    <span>👋</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley7">
                                <span class="smiley">
                                    <span>😊</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley8">
                                <span class="smiley">
                                    <span>🙂</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley9">
                                <span class="smiley">
                                    <span>😱</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley10">
                                <span class="smiley">
                                    <span>😗</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley11">
                                <span class="smiley">
                                    <span>👎</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley12">
                                <span class="smiley">
                                    <span>🔍</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley13">
                                <span class="smiley">
                                    <span>❤️</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley14">
                                <span class="smiley">
                                    <span>😇</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley15">
                                <span class="smiley">
                                    <span>😠</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley16">
                                <span class="smiley">
                                    <span>👼</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley17">
                                <span class="smiley">
                                    <span>😭</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley18">
                                <span class="smiley">
                                    <span>👏</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley19">
                                <span class="smiley">
                                    <span>😉</span>
                                </span>
                            </div>
                            <div class="smileyContainer" id="smiley20">
                                <span class="smiley">
                                    <span>🍺</span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="usrmsg-form">
                    <textarea id="usermsg" placeholder="Type a message" style="height: 41px;"></textarea>
                </div>
                <div class="send-button-container">
                    <div class="send-button">
                        <div class="jitsi-icon ">
                            <svg fill="none" height="22" width="22" viewBox="0 0 20 20">
                                <path clip-rule="evenodd" d="M16.667 1.667l-15 9.166 5.966.995.7 5.255 2.311-3.85 6.023 4.684V1.667zm-7.93 8.655L6.35 9.924 15 4.638v9.87l-3.684-2.864L12.5 7.5l-3.763 2.822z"></path>
                            </svg>
                        </div>
                    </div>
                    <div class="file-share-button">
                        <div class="jitsi-icon ">
                            <svg fill="none" height="22" width="22" viewBox="0 0 24 24">
                                <path clip-rule="evenodd" d="M13.5,12.5a1,1,0,0,0-1-1h-5a1,1,0,0,0,0,2h5A1,1,0,0,0,13.5,12.5Zm5,5a2,2,0,0,0-1.18.39l-1.75-.8,1.91-.88a2,2,0,0,0,1,.29,2,2,0,1,0-2-2l-1.89.87A2,2,0,1,0,13.5,19a1.88,1.88,0,0,0,.92-.24l2.1,1a2,2,0,1,0,2-2.23Zm-8,2h-5a1,1,0,0,1-1-1V4.5a1,1,0,0,1,1-1h5v3a3,3,0,0,0,3,3h3a1,1,0,0,0,2,0v-1s0,0,0-.06a1.31,1.31,0,0,0-.06-.27l0-.09a1.07,1.07,0,0,0-.19-.28h0l-6-6h0a1.07,1.07,0,0,0-.28-.19.29.29,0,0,0-.1,0,1.1,1.1,0,0,0-.26-.06H5.5a3,3,0,0,0-3,3v14a3,3,0,0,0,3,3h5a1,1,0,0,0,0-2Zm2-14.59L15.09,7.5H13.5a1,1,0,0,1-1-1ZM7.5,15.5a1,1,0,0,0,0,2h1a1,1,0,0,0,0-2Zm0-6h1a1,1,0,0,0,0-2h-1a1,1,0,0,0,0,2Z"></path>
                            </svg>
                        </div>
                    </div>
                    <input type="file" class="d-none" id="file-selector" />
                </div>
            </div>
        </div>
    </div>
    <div class="new-toolbox visible" id="new-toolbox">
        <div class="toolbox-content">
            <div class="toolbox-content-wrapper">
                <div class="toolbox-content-items">
                    <div class="audio-preview">
                        <div class="settings-button-container">
                            <div id="mic-enable" data-toggle="toggle" class="toolbox-button ctooltip" tabindex="0" role="button">
                                <div>
                                    <div class="toolbox-icon">
                                        <div class="jitsi-icon ">
                                            <svg height="22" width="22" viewBox="0 0 22 22">
                                                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 6a4 4 0 00-8 0v6a4.002 4.002 0 003.008 3.876c-.005.04-.008.082-.008.124v1.917A6.002 6.002 0 016 12a1 1 0 10-2 0 8.001 8.001 0 007 7.938V21a1 1 0 102 0v-1.062A8.001 8.001 0 0020 12a1 1 0 10-2 0 6.002 6.002 0 01-5 5.917V16c0-.042-.003-.083-.008-.124A4.002 4.002 0 0016 12V6zm-4-2a2 2 0 00-2 2v6a2 2 0 104 0V6a2 2 0 00-2-2z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="ctooltiptext">Mute/Unmute your Microphone</span>
                            </div>
                        </div>
                    </div>
                    <div class="video-preview">
                        <div class="settings-button-container">
                            <div id="camera-enable" data-toggle="toggle" class="ctooltip toolbox-button" tabindex="0" role="button">
                                <div>
                                    <div class="toolbox-icon">
                                        <div class="jitsi-icon ">
                                            <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                                <path clip-rule="evenodd" d="M13.75 5.5H3.667c-1.013 0-1.834.82-1.834 1.833v7.334c0 1.012.821 1.833 1.834 1.833H13.75c1.012 0 1.833-.82 1.833-1.833v-.786l3.212 1.835a.916.916 0 001.372-.796V7.08a.917.917 0 00-1.372-.796l-3.212 1.835v-.786c0-1.012-.82-1.833-1.833-1.833zm0 3.667v5.5H3.667V7.333H13.75v1.834zm4.583 4.174l-2.75-1.572v-1.538l2.75-1.572v4.682z"></path>
                                            </svg>
                                        </div>
                                    </div>
                                </div>
                                <span class="ctooltiptext">Start/Stop your camera</span>
                            </div>
                        </div>
                    </div>
                    <div id="share" data-toggle="toggle" class="desktop-share ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path clip-rule="evenodd" d="M3.667 2.75h14.666c1.013 0 1.834.82 1.834 1.833v11c0 1.013-.821 1.834-1.834 1.834h-2.75a.917.917 0 010 1.833H6.417a.917.917 0 010-1.833h-2.75a1.833 1.833 0 01-1.834-1.834v-11c0-1.012.821-1.833 1.834-1.833zm0 1.833v11h14.666v-11H3.667zm8.25 3.667c-3.75 0-5.5 1.604-5.5 6.417 2-3.896 5.5-3.667 5.5-3.667v1.274a.5.5 0 00.813.39l3.287-2.65a.5.5 0 000-.778l-3.287-2.65a.5.5 0 00-.813.39V8.25z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Share your screen</span>
                    </div>
                    <div id="record" data-toggle="toggle" class="record ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path clip-rule="evenodd" d="M11 20.167a9.167 9.167 0 110-18.334 9.167 9.167 0 010 18.334zm0-1.834a7.333 7.333 0 100-14.666 7.333 7.333 0 000 14.666zM15.583 11a4.583 4.583 0 11-9.166 0 4.583 4.583 0 019.166 0z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Start / Stop record</span>
                    </div>
                    <div class="toolbar-button-with-badge">
                        <div id="chat" data-toggle="toggle" class="chat ctooltip toolbox-button" role="button" tabindex="0">
                            <div>
                                <div class="toolbox-icon ">
                                    <div class="jitsi-icon">
                                        <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                            <path clip-rule="evenodd" d="M15.583 20.196c.507 0 .917-.41.917-.917v-4.612h2.75c.506 0 .917-.41.917-.917v-11a.917.917 0 00-.917-.917H2.75a.917.917 0 00-.917.917v11c0 .506.41.917.917.917h7.843l4.283 5.195a.917.917 0 00.707.334zM3.667 3.666h14.666v9.167h-3.666v3.893l-3.21-3.893h-7.79V3.667z"></path>
                                        </svg>
                                        <span class="badge badge-circle badge-light-primary chat-badge">5</span>
                                    </div>
                                </div>
                            </div>
                            <span class="ctooltiptext">Open / Close chat</span>
                        </div>
                    </div>
                    <div id="setting" data-toggle="toggle" class="setting ctooltip toolbox-button" role="button" tabindex="0">
                        <div>
                            <div class="toolbox-icon ">
                                <div class="jitsi-icon ">
                                    <svg fill="none" height="22" width="22" viewBox="0 0 22 22">
                                        <path clip-rule="evenodd" d="M9.005 2.17l-.576 1.727-.634.262-1.628-.813a1.833 1.833 0 00-2.116.343l-.362.362a1.833 1.833 0 00-.343 2.116l.816 1.624-.265.638-1.727.576c-.748.25-1.253.95-1.253 1.739v.512c0 .79.505 1.49 1.253 1.74l1.727.575.262.634-.813 1.628a1.833 1.833 0 00.343 2.116l.362.362c.558.558 1.41.696 2.116.343l1.624-.816.638.265.576 1.727c.25.748.95 1.253 1.739 1.253h.512c.79 0 1.49-.505 1.74-1.253l.575-1.726.634-.263 1.628.813a1.833 1.833 0 002.116-.343l.362-.362c.558-.558.696-1.41.343-2.116l-.816-1.624.265-.638 1.727-.576a1.833 1.833 0 001.253-1.739v-.512c0-.79-.505-1.49-1.253-1.74l-1.726-.572-.264-.637.814-1.628a1.833 1.833 0 00-.343-2.116l-.362-.362a1.833 1.833 0 00-2.116-.343l-1.624.816-.638-.265-.576-1.727a1.833 1.833 0 00-1.74-1.253h-.511c-.79 0-1.49.505-1.74 1.253zM7.723 6.173l2.181-.903.84-2.52h.512l.84 2.52 2.185.908 2.372-1.193.362.362-1.188 2.376.903 2.185 2.52.836v.512l-2.52.84-.908 2.185 1.193 2.372-.362.362-2.376-1.188-2.181.903-.84 2.52h-.512l-.84-2.52-2.185-.908-2.372 1.193-.362-.362 1.188-2.376-.903-2.181-2.52-.84v-.512l2.52-.84.908-2.185-1.193-2.372.362-.362 2.376 1.188zM11 15.583a4.583 4.583 0 110-9.166 4.583 4.583 0 010 9.166zM13.75 11a2.75 2.75 0 11-5.5 0 2.75 2.75 0 015.5 0z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <span class="ctooltiptext">Start / Stop record</span>
                    </div>
                    <div id="leave" data-toggle="toggle" class="ctooltip toolbox-button" tabindex="0" role="button">
                        <div>
                            <div class="toolbox-icon hangup-button">
                                <div class="jitsi-icon ">
                                    <svg height="22" width="22" viewBox="0 0 32 32">
                                        <path d="M16 12c-2.125 0-4.188.313-6.125.938v4.125c0 .5-.313 1.063-.75 1.25a13.87 13.87 0 00-3.563 2.438c-.25.25-.563.375-.938.375s-.688-.125-.938-.375L.373 17.438c-.25-.25-.375-.563-.375-.938s.125-.688.375-.938c4.063-3.875 9.563-6.25 15.625-6.25s11.563 2.375 15.625 6.25c.25.25.375.563.375.938s-.125.688-.375.938l-3.313 3.313c-.25.25-.563.375-.938.375s-.688-.125-.938-.375a13.87 13.87 0 00-3.563-2.438c-.438-.188-.75-.625-.75-1.188V13c-1.938-.625-4-1-6.125-1z"></path>
                                    </svg>
                                </div>
                            </div>
                        </div>

                        <span class="ctooltiptext">Leave</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="setting-dialog-wrapper">
    <!-- Button trigger modal-->
    <button type="button" class="btn btn-primary d-none" data-toggle="modal" data-target="#settingModal">Launch Setting Dialog</button>
    <!-- Modal-->
    <div class="modal setting-dialog fade" id="settingModal" style="display:none" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="sModalLabel" aria-modal="true">
        <div class="modal-dialog modal-dialog-centered mw-650px" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <span class="modal-title" id="exampleModalLabel">Device Setting</span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <svg height="22" width="22" viewBox="0 0 24 24">
                            <path d="M18.984 6.422L13.406 12l5.578 5.578-1.406 1.406L12 13.406l-5.578 5.578-1.406-1.406L10.594 12 5.016 6.422l1.406-1.406L12 10.594l5.578-5.578z"></path>
                        </svg>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-7 video-container rounded-left">
                                <video autoplay playsinline class="rounded-left shadow-sm  w-100" novalidate="novalidate" id="camera-preview">
                                </video>
                            </div>
                            <div class="col-md-5 device-list-container rounded-right">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <h1 class="d-flex flex-center mb-10">Choose Device</h1>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label fw-bolder fs-6 mt-3">Camera</label>
                                        <select id="camera-list" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true" data-placeholder="Choose Camera">
                                        </select>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label fw-bolder fs-6 mt-3">Mircrophone</label>
                                        <select id="mic-list" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true" data-placeholder="Choose Camera">
                                        </select>

                                        <video autoplay playsinline class="rounded shadow-sm  w-100 mb-1 d-none" novalidate="novalidate" id="mic-preview">
                                        </video>
                                    </div>

                                    <div class="col-sm-12">
                                        <label class="form-label fw-bolder fs-6 mt-3">Speaker</label>
                                        <select id="speaker-list" class="form-select form-select-solid form-select-sm" data-control="select2" data-hide-search="true" data-placeholder="Choose Camera">
                                        </select>
                                    </div>
                                    <div class="col-sm-12">
                                        <button type="button" id="setting-dialog-ok-button" class="btn btn-lg btn-primary mt-8 d-block m-auto">
                                            <span class="indicator-label">Close</span>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="setting-dialog-cancel-button" type="button" class="btn btn-light-primary font-weight-bold" data-dismiss="modal">Cancel</button>
                </div>
            </div>
        </div>
    </div>
</div>

<button id="open-participants-toggle" class="btn btn-sm btn-white btn-active-primary shadow-sm position-fixed px-5 fw-bolder zindex-2 top-50 mt-10 end-0 transform-90" title="" data-bs-toggle="tooltip" data-bs-placement="right" data-bs-trigger="hover" data-bs-original-title="">
    <span>Participants</span>
</button>

<div id="participants-list" class="drawer drawer-end" data-kt-drawer="true" data-kt-drawer-name="explore" data-kt-drawer-activate="true" data-kt-drawer-overlay="true" data-kt-drawer-width="{default:'300px', 'lg': '375px'}" data-kt-drawer-direction="end" data-kt-drawer-toggle="#open-participants-toggle" data-kt-drawer-close="#participants-list-close" style="width: 375px !important;">

    <div class="card shadow-none w-100">

        <div class="card-header" id="participants-list-header">
            <h3 class="card-title fw-bolder text-white">Meeting Participants(<span id="participant-count">0</span>)</h3>
            <div class="card-toolbar">
                <button type="button" class="btn btn-sm btn-icon btn-active-light-primary me-n5" id="participants-list-close">
                    <span class="svg-icon svg-icon-2">
                        <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                            <g transform="translate(12.000000, 12.000000) rotate(-45.000000) translate(-12.000000, -12.000000) translate(4.000000, 4.000000)" fill="#000000">
                                <rect fill="#000000" x="0" y="7" width="16" height="2" rx="1"></rect>
                                <rect fill="#000000" opacity="0.5" transform="translate(8.000000, 8.000000) rotate(-270.000000) translate(-8.000000, -8.000000)" x="0" y="7" width="16" height="2" rx="1"></rect>
                            </g>
                        </svg>
                    </span>

                </button>
            </div>
        </div>

        <div class="card-body" id="participants-list-body">

        </div>

        <div class="card-footer py-5 text-center" id="participants-list-footer">
            <a class="btn btn-primary">Mute All</a>
        </div>
    </div>
</div>

<form id="return" method="get" action="/"></form>

@section Scripts{
    <script type="text/javascript" src="~/lib/microsoft-signalr/signalr.min.js"></script>
    <script type="text/javascript" src="~/js/adapter-latest.js"></script>
    <script type="text/javascript" src="~/scripts/meeting_ui.js"></script>
    <script type="text/javascript" src="~/lib/jitsi/lib-jitsi-meet.min.js"></script>
    <script type="text/javascript">
    window.JitsiMeetJS = JitsiMeetJS;

    window._roomId = '@Model._meetingId';
    window._userId = '@Model._userId';
    window._anonymousUserName = '@Model._anonymousUserName';
    window._camId = '@Model._camId';
    window._micId = '@Model._micId';
    window._speakerId = '@Model._speakerId';
    window._videoMute = '@Model._videoMute';
    window._audioMute = '@Model._audioMute';
    </script>

    <script src="~/lib/metronic/plugins/global/plugins.bundle.js"></script>
    <script src="~/lib/metronic/js/scripts.bundle.js"></script>
    <script type="text/javascript" src="~/lib/jquery-toast/jquery.toast.js"></script>
    <script type="text/javascript" src="~/scripts/meeting.js"></script>
}
